.userImg {
    height: 200px;
    width: 200px;
}

.formEl {
    display: flex;
    flex-direction: column;
    margin: .75rem 0;
}

.formEl label {
    color: grey;
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-transform: capitalize;
}

.formEl input[type="text"] {
    border-bottom: 2px solid lightgray;
}

.formEl input[type="text"]:active,
.formEl input[type="text"]:focus {
    border-color: purple;
}