.userImg {
    height: 150px;
    width: 150px;
}

.formWrapper div {
    display: flex;
    flex-direction: column;
    margin: .75rem 0;
}

.formWrapper label {
    color: grey;
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-transform: capitalize;
}

.formWrapper input[type="text"] {
    border-bottom: 2px solid lightgray;
}

.formWrapper input[type="text"]:active,
.formWrapper input[type="text"]:focus {
    border-color: purple;
}
