.baseContainer {
  max-width: 450px;
}

.searchBox {
  display: flex;
  align-items: center;
  background-color: var(--overlay);
  color: #fff;
}

.border {
  border-bottom: .2px solid var(--muted-dark);
}