.baseContainer {
  max-width: 475px;
}
.searchBox {
  display: flex;
  align-items: center;
  background-color: rgba(138, 138, 138, 0.44);
  color: #fff;
  border-radius: 15px;
  padding: 15px 10px;
  border: 0;
  width: 315px;
}
