.baseContainer {
  max-width: 450px;
}

.searchBox {
  display: flex;
  align-items: center;
  background-color: rgba(40,40,40);
  color: #fff;
}

.border {
  border-bottom: .2px solid rgb(150, 150, 150);
}