.baseContainer {
  max-width: 480px;
}

.bottom:before,
.bottom:after {
  background: #fff;
  content: "";
  display: inline-block;
  height: .5px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

.bottom:before {
  right: 0.5em;
  margin-left: -50%;
}

.bottom:after {
  left: 0.5em;
  margin-right: -50%;
}
