.sanginiText {
    font-size: 72px;
    margin: 10px 5px;
    background: linear-gradient(253deg, #0164C4 0%, #01FF90 100%) 0% 0% no-repeat padding-box;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fb {
    background: #4267B2 0% 0% no-repeat padding-box !important;
}

.google {
    background: #679EF5 0% 0% no-repeat padding-box !important;
}

.baseContainer {
    max-width: 345px;
    width: 345px;
}