.sanginiH1 {
    font-size: 72px;
    margin: 10px 5px;
}

.fb {
    background: #4267B2 0% 0% no-repeat padding-box !important;
}

.google {
    background: #679EF5 0% 0% no-repeat padding-box !important;
}