.baseContainer {
    max-width: 425px;
}

.userImg {
    height: 200px;
    width: 200px;
}

.infoBox div {
    display: flex;
    justify-content: space-between;
    background-color: #F6F7FA;
}

.infoBox p {
    padding: 1rem;
}

.infoBox p:nth-child(1) {
    color: #878787;
}