.carousel_inner {
  overflow: -moz-scrollbars-none;
  scroll-behavior: smooth;
}
.carousel_inner::-webkit-scrollbar {
  display: none;
}
.arrows{
  height: 6rem;
    z-index: 10;
}
.img {
  flex: 0 0 100%;
}
.twitter {
    background-color: #fff;
    color: #55ACEE;
    border: 0px
;
  }

.instagram {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}


