.App {
  height: 100vh;
  overflow-x: scroll;
}

/* Buttons */
.btn {
  min-width: 100px;
  padding: 15px 5px !important;
  color: #fff !important;
  outline: none;
  opacity: 0.9;
}

button:hover, .btn:hover {
  opacity: 1;
}

button:focus, .btn:focus, input:focus {
  outline: none;
}

/* Display  */
.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-space-bw {
  justify-content: space-between;
}

/* color palette */
.text {
  color: #1D2952;
}

.text-muted {
  color: #7483a0;
}

.active {
  color: #440a67;
}

.lsWrapper {
  background-color: rgba(201, 201, 201, 0.34) !important;
}

.mainHeading {
  color: #440a67;
}