.App {
  height: 100vh;
  overflow-x: hidden;
}

button {
  opacity: 0.9;
}

button:hover,
.btn:hover {
  opacity: 1;
}

button:focus,
.btn:focus,
input:focus {
  outline: none;
}

/* Display  */
.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-space-bw {
  justify-content: space-between;
}

/* theme */
:root{
  --primary : #1ed760;
  --dark: #151515; 
  --sec-dark: #2d2d2d;
  --danger: #fd2727;
  --muted-light: #cccccc;
  --muted-dark: rgb(125, 125, 125);
  --overlay: rgb(40 40 40);
}

.dark-bg {
  background-color: var(--dark);
}

.dark-text {
  color: var(--dark);
}

.dark-sec-bg {
  background-color: var(--sec-dark);
}

.primary-bg {
  background-color: var(--primary);
}
.primary-border {
  border-color: var(--primary);
}
.primary-txt {
  color: var(--primary);
}

.red-txt {
  color: var(--danger);
}

.text {
  color: #1d2952;
}

.text-muted {
  color: var(--muted);
}

.active {
  color: var(--primary);
}

.lsWrapper {
  background-color: rgba(102, 102, 102, 0.28) !important;
}

/* settings */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--primary);
}
