.App {
  height: 100vh;
  overflow-x: hidden;
}
/* Buttons */
.btn {
  min-width: 100px;
  padding: 15px 5px !important;
  color: #fff !important;
  outline: none;
}

button {
  opacity: 0.9;
}

button:hover,
.btn:hover {
  opacity: 1;
}

button:focus,
.btn:focus,
input:focus {
  outline: none;
}

/* Display  */
.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-space-bw {
  justify-content: space-between;
}

/* theme */
.dark-bg {
  background-color: #151515;
}

.dark-text {
  color: #151515;
}

/* color palette */
.dark-sec-bg {
  background-color: #2d2d2d;
}

.primary-bg {
  background-color: #1ed760;
}
.primary-border {
  border-color: #1ed760;
}
.primary-txt {
  color: #1ed760;
}

.red-txt {
  color: #fd2727;
}

.text {
  color: #1d2952;
}

.text-muted {
  color: #cccccc;
}

.active {
  color: #440a67;
}

.lsWrapper {
  background-color: rgba(201, 201, 201, 0.34) !important;
}

.mainHeading {
  color: #440a67;
}

/* settings */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1ed760;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1ed760;
}
