.inputBox input {
    border: 0;
    border-radius: .3rem;
    padding: .3rem 1rem;
    margin: .25rem .5rem;
    width: 7rem;
    background-color: #fff;
}

.inputBox label {
    text-transform: capitalize;
    color: #fff;
}

.inputBox p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}