* {
    font: normal normal normal 14px/19px Open Sans;
}

.container {
    max-width: 375px;
}
.container::-webkit-scrollbar {
    display: none;
}

.userpic {
    width: 400px;
    height: 476px;
}

.font {
    font-size: 26px;
    color: #1A13DA;
}

.list {
    font-size: 14px;
    color: #1A13DA;
    opacity: 1;
}

.Heading {
    color: #1A13DA;
}

.line {
    border: .5px solid black;
}

.img {
    width: 112px;
    height: 112px;
}

.btn {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 1px solid red;
    background-color: white;
}
.left {
    left: -5%;
}

.right {
    right: -5%;
}

.arrow {
    width: 1.5rem;
    height: 1.5rem;
}
.carousel_inner {
    overflow: -moz-scrollbars-none;
    scroll-behavior: smooth;
}
.carousel_inner::-webkit-scrollbar {
    display: none;
}
