.container {
    max-width: 375px;
}
.container::-webkit-scrollbar {
    display: none;
}

.userpic {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.img {
    width: 112px;
    height: 112px;
}

.left {
    left: -4.5%;
}

.right {
    right: -4.5%;
}

.carousel_inner {
    overflow: -moz-scrollbars-none;
    scroll-behavior: smooth;
}
.carousel_inner::-webkit-scrollbar {
    display: none;
}
